@tailwind base;
@tailwind components;
@tailwind utilities;

.common-layout {
  background-color: #f1f5f9;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 64px;
  padding-bottom: 16px;
  min-height: 100vh;
}

@media (min-width: 480px) {
  .common-layout {
    padding-left: 84px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .common-layout {
    padding-left: 360px;
    padding-bottom: 24px;
  }
}

.swiper {
  margin-left: 0 !important;
}

.swiper-slide {
  flex-shrink: 0;
  width: auto !important;
}

.swiper-container {
  display: flex;
  justify-content: flex-start !important;
  overflow: visible;
}
.swiper-button-prev,
.swiper-button-prev {
  position: absolute;
  z-index: 50;
}
.swiper-button-prev {
  left: -12px !important;
}
.swiper-button-next {
  right: -12px !important;
}
