@tailwind base;
@tailwind components;
@tailwind utilities;

.common-layout {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 64px;
  padding-bottom: 16px;
  min-height: 100vh;
}

@media (min-width: 480px) {
  .common-layout {
    padding-left: 84px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .common-layout {
    padding-left: 360px;
    padding-bottom: 24px;
  }
}

.swiper {
  margin-left: 0 !important;
  overflow: visible !important;
  padding: 0 16px;
}
.swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: auto !important;
  z-index: 5;
}

.swiper-container {
  display: flex;
  justify-content: flex-start !important;
  overflow: visible;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 50px !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  font-weight: bold !important;
  color: #1e293b !important;
}

.swiper-button-prev {
  left: -34px !important;
}

.swiper-button-next {
  right: -34px !important;
}
.swiper-button-disabled {
  color: #e5e7eb !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
}

.swiper-pagination {
  bottom: -20% !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1e293b !important;
}
